*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;

    background-image:url("./image/Copilot_20260606_115912.png");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.container{

    width:1100px;
    min-height:850px;

    background:rgba(255,255,255,0.55);

    backdrop-filter:blur(15px);

    border-radius:20px;

    overflow:hidden;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 35px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.menu{
    width:40px;
    height:40px;

    background:white;

    border-radius:10px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}

.hero{
    text-align:center;

    padding-top:60px;
}

.hero h1{

    font-size:64px;
    line-height:70px;

    font-weight:700;

    color:#111;

    margin-bottom:20px;
}

.hero p{

    width:600px;

    margin:auto;

    color:#555;

    line-height:28px;
}

button{

    margin-top:30px;

    border:none;

    background:black;

    color:white;

    padding:15px 30px;

    border-radius:30px;

    cursor:pointer;

    font-size:16px;

    
}

.payment-card{

    width:300px;

    background:white;

    margin:60px auto;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.payment-card h2{

    margin-bottom:20px;
}

.amount{

    margin-bottom:20px;
}

.amount label{

    display:block;

    margin-bottom:8px;

    color:#666;
}

.amount input{

    width:100%;

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;
}

.features{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    padding:40px;
}

.feature{

    background:white;

    padding:30px;

    border-radius:15px;
}

.feature h3{

    margin-bottom:10px;
}

.feature p{

    color:#666;
}
.talk-to-sales button:hover{
    background:#ff0000;
    color:#fff;
}

